.field-validation-error {
    color: red;
}
.field-validation-valid {
    display: none;
}
.input-validation-error {
    border: 1px solid red;
    background-color: mistyrose;
}
.validation-summary-errors {
    font-weight: bold;
    color: red;
}
.validation-summary-valid {
    display: none;
}
.page-header {
    top: 0px;
    background-color: black;
    color: silver;
}