@{
    ViewBag.Title = "The Learning Center";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The Learning Center provides you with university-level programming classes at prices that you can afford.</p>
