@{
    ViewBag.Title = "Learning Center";
}

<div class="jumbotron">
    <h1>The Learning Center</h1>
    <p class="lead">The place for technology classes.</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <a href="/Home/OurClasses"><h2>Class List</h2></a>
        <p>
            See all of our class offerings.
        </p>
    </div>
    <div class="col-md-4">
        <a href="/Home/YourClasses"><h2>Your enrolled classes</h2></a>
        <p>
            See see the classes you are enrolled in.
        </p>
    </div>
    <div class="col-md-4">
        <a href="/Home/ViewCart"><h2>Enroll in a class</h2></a>
        <p>
            Take a new class.
        </p>
    </div>
</div>